header{
    height: 70px;
}

main{
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

aside{
    width: min-content;
    height: 100%;
}

#mymap{
    flex: 1;
    height: 100%;
    overflow: hidden;
}